@import url('https://fonts.googleapis.com/css?family=DM+Sans:300,400,500,700,800,900&display=swap');

:root {
    --font: 'DM Sans', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: var(--font);
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* APP */
body {
    background-image: linear-gradient( 102.7deg, rgba(253,218,255,1) 8.2%, rgba(223,173,252,1) 19.6%, rgba(173,205,252,1) 36.8%, rgba(173,252,244,1) 73.2%, rgba(202,248,208,1) 90.9% );
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

/* Container */

.container {
    background-color: #fff;
    border-radius: 20px;
    font: inherit;
    overflow: hidden;
    width: 400px;
}

.container h3 {
    color: #455963;
    font-weight: 600;
    
}

/* Todo list */

.date {
    /* text-align: center; */
    padding-top: 10px;
    margin-left: 2rem;
}

.todoCount {
    margin-left: 2rem;
    padding-bottom: 10px;
    font-weight: 300;
    color: #8a9ca5;
}


input{
    font-size: 16px;
    font-family: var(--font);
    padding: 10px 20px;
    width: 100%;
    border: 0;
    /* border-bottom-left-radius: 20px; */
    /* border-bottom: 1px solid silver; */
    &:focus {
        outline: none;
    }
}

.form__input{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form__input button{
    display: flex;
    background: transparent;
    padding: 0;
    margin-right: 20px;
    line-height: 1;
    cursor: pointer;
    border-radius: 100%;
    border: none;
    transition: all 0.2s;
    font-size: 20px;
    &:hover {
        transform: scale(1.15);
    }
}




.todos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0px;
    font: inherit;
    border-top: 1px solid silver;
}



.todo {
    display: flex;
    gap: .5rem;
    padding: 0.5rem 1rem;
    width: 100%;
    overflow: auto;
    font-size: 1rem;
    /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
}

.todo p{
    min-width: 300px;
}




.todo__status {
    background: transparent;
    padding: 0;
    line-height: 1;
    cursor: pointer;
    border-radius: 100%;
    border: none;
    transition: all 0.2s;

    &:hover {
        transform: scale(1.15);
    }
}


.todo__delete {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    background: transparent;
    padding: 0;
    line-height: 1;
    cursor: pointer;
    border-radius: 100%;
    border: none;
    transition: all 0.2s;

    &:hover {
        transform: scale(1.15);
    }
}

@media (max-width: 350px) {
    .container {
        width: 250px;
    }
}

@media (max-width: 420px) {
    .container {
        width: 370px;
    }

}